body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(to right, #ffd6ec, #e0bbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #ff69b4;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#display {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
    text-align: right;
    font-size: 22px;
    padding: 10px;
    background: #ffe6f2;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 12px;
}

.flower {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    font-size: 28px;
    cursor: pointer;
    background: #ffb3d9;
    transition: 0.2s;
}

.flower:hover {
    background: #ff69b4;
    transform: scale(1.1);
}

.operator {
    background: #cdb4db;
}

.equal {
    background: #a2d2ff;
}

.clear {
    background: #ff8fab;
}
